@font-face {
    font-family: Dubiel;
    src: url('../../fonts/Dubiel.ttf') format('truetype')
  }

.new_cocktail_header {
    font-family: Dubiel, serif;
    font-size: 46px;
    display: flex;
    justify-content: center;
}

.cocktailPostForm {    
    position: absolute;
    top:13%;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 19px;
    
}

.form-control {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 39.5%;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}
.new_cocktail {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%
}
.cocktail_name {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ingredient_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px
}

.liquor_select, .liqueur_select, .staples_select, .syrups_select{
    width: 100%;
    display: flex;
    justify-content: center;

}

.liquor-dropdown, .liqueur-dropdown, .staple-dropdown, .syrup-dropdown  {
    width: 40%;
    margin-bottom: 20px;
}

.select-category {
    display: flex;
    justify-content: center;
    margin-bottom: 40px
    
}


.new_cocktail_recipe {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 40px;
    

}

.new-recipe-input {
    width: 40%;
    height: 300px;
    font-size: 18px;
    
}


.form-img-upload {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_upload_button {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-bottom: 40px;
    border-radius: 4px;
    background-color:#f7dced;

}

.img-preview {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}


.img-preview-label {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    width: 100%;
    font-weight: 700;
}

.uploaded-img-preview {
    width: 20%;
    display: flex;
    justify-content: center;
    
}

.preview-img-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.cocktail_caption {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 40px
}

.new-cocktail-caption {
    width: 40%;
    height: 100px;
    font-size: 18px;
}

.add_cocktail {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.submit_btn {
    width: 30%;
    height: 50px;
    border-radius: 4px;
    background-color: #f7dced;
}